*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #111;
    font-family: 'Roboto', sans-serif;
}

header{
    text-align: right;
}

header button{
    padding: 5px;
    background-color: #323232;
    color: #fff;
    margin: 10px;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
}

header button:hover{
    background-color: rgba(50, 50, 50, 0.7);
}

main{
    padding: 10px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    overflow: auto;
    height: calc(100vh - 106px) ;
}

.avatar{
    width: 250px;
    height: 150px;
    border: 2px solid black;
    position: relative;
    color: #fff;
    margin: 3px;
}

.speaker{
    border-color: #c6e05e
}
.avatar-name{
    position: absolute;
    left: 0;
    bottom:0;
    padding: 5px;
    background-color: rgba(50, 50, 50, 0.7);
}

.unmute{
display: inline-block;
margin-right: 3px;
}

.mute{
    background-color: red;
    width: 3px;
    height: 20px;
    position: absolute;
    bottom: 4px;
    transform: rotate(35deg);
    left: 8px;
}

footer{
    height: 60px;
    width: 100%;
    background-color: green;
}
