*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #111;
    font-family: 'Roboto', sans-serif;
    color:#dcdcdc;
}

header{
    text-align: right;
}

button{
    padding: 5px;
    background-color: #323232;
    color: #fff;
    margin: 10px;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
}

button:hover{
    background-color: rgba(50, 50, 50, 0.7);
}

main{
    color: #fff;
    padding: 10px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    overflow: auto;
    height: calc(100vh - 106px) ;
}

.avatar{
    width: 250px;
    height: 150px;
    border: 2px solid black;
    position: relative;
    margin: 3px;
}

.speaker{
    border-color: #c6e05e
}
.avatar-name{
    position: absolute;
    left: 0;
    bottom:0;
    padding: 5px;
    background-color: rgba(50, 50, 50, 0.7);
}

.unmute{
display: inline-block;
margin-right: 3px;
}

.mute{
    background-color: red;
    width: 3px;
    height: 20px;
    position: absolute;
    bottom: 4px;
    transform: rotate(35deg);
    left: 8px;
}

footer{
    height: 60px;
    background-color: #222326;
    display: flex;
    justify-content: space-between;
}

#footer-left{
    margin-left: 10px;
    display: flex;
    align-items: center;
}

#footer-center{
    display: flex;
    align-items: center;
}

.icon{
    display: inline-block;
    margin: 0 15px;
    text-align: center;
}

.icon:hover{
    color:green;
}
.icon i{
    font-size: 24px;
    padding-bottom: 3px;
}

.icon p{
    font-size: 12px;
    font-weight: 600;
}

.angle-container{
    font-size: 18px;
    display: inline-block;
}

#footer-right button{
    color: red;
    margin: 0;
    border-radius: 0;
    padding: 10px;
    height: 100%;
}

@media all and (max-width:992px)  {
    #footer-center{
        display: none;
    }
}
